body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
}

.top {
    margin: 33px 0 29px 0;
}

.top-title {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

.top-about {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

.time-open .top-title {
    color: #000000;
}

.time-open .top-about {
    color: #999999;
}

.phone .top-title {
    color: #498acf;
}

.phone .top-about {
    color: #999999;
}

.address .top-title {
    color: #000000;
}

.address .top-about {
    color: #999999;
}

.logo-text {
    margin-top: 5px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.setnavbar {
    overflow: hidden;
    background-color: #498acf;
    position: relative;
    bottom: 0;
    width: 100%;
}

.setnavbar a {
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 12px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.small-text {
    text-transform: uppercase;
    color: white;
    float: right;
    border: 3px solid white;
    margin: 10px 0;
    padding: 13px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.banner-content {
    background-image: url(../img/ser.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
}

.banner-text {
    color: #fff;
}

.banner-title {
    padding-top: 218px;
    text-transform: uppercase;
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    padding-top: 330px;
}

.banner-about {
    padding-top: 20px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

/*--body--*/

.brand-logo {
    background-color: #f6f6f6;
    height: 200px;
    padding: 50px;
}

.img1 {
    padding-right: 40px;
}

.img2 {
    padding-left: 40px;
    padding-right: 40px;
}

.img3 {
    padding-left: 40px;
    padding-right: 40px;
}

.img4 {
    padding-left: 40px;
    padding-right: 40px;
}
.img5 {
    padding-left: 40px;
    padding-right: 40px;
}
.line {
    border-right: 1px solid #eaeaea;
    height: 100px;
    padding-top: 50px;
}
/*--footer--*/
.footer-top {
    background-color: #222222;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-top-title {
    font-size: 14px;
    color: #f5f5f5;
    margin-bottom: 25px;
}

.footer-top-about {
    font-size: 13px;
    color: #8b8b8b;
}

.gmail {
    margin-top: 23px;
}

.telephone {
    margin-top: 23px;
}

.bottom {
    background-color: #181818;
    height: 80px;
    text-align: center;
    padding-top: 35px;
}

.bottom-text {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #fff;
}

.fa {
    padding: 15px;
    font-size: 14px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}